img {
    width: 200px;
}

body {
    text-align: center;
    font-family: "Times New Roman";
}
body {
    
    background-image: url("http://vignette1.wikia.nocookie.net/ssb/images/0/02/DreamLandSSB.png/revision/latest?cb=20150827135556");
    
    
    
}